<!--
  --  Contact page
  -->
Hello, and welcome to this hotspot. You can send a message
to the owner of this signal using this form.<br>
سوف تستطيع ان توصل رسالة شكواك او استفسارك او مقترحك من هذه الصفحة ولكن لا بد ان يكون الايميل صحيح لكي تصل الرسالة وعدم تجاهلها
