<!--
  --  The message between the form and the footer on the login page
  --  An example, "Contact the owner of this hotspot $(href "contact.chi" "here")"
>rc="flower.jpg" >
>
<p style="font:italic small-caps bold 30px/50px Garamond, Georgia, Times, Serif;text-align:center;color:red;">
</p>
<p style="font:italic small-caps bold 30px/50px Garamond, Georgia, Times, Serif;text-align:center;color:orange;">

<!--نقدم لكم عروض عيد الأضحى المبارك ...... وكل عام وانتم بخير
</p>-->

<!--<img width="150" height="100" src="coffee.jpg" > <img width="150" height="100" src="tea.jpg" >--> 
<!--
<table border="6" table-align="left">
<tr>
<th>Price</th><th>Scope</th><th>Plan</th>
</tr>
<tr>
<td><p style="text-align:center;">50 LE</p></td><td>مفتوح</td><td>شهري</td>
</tr>
<tr>
<td><p style="text-align:center;">35 LE</p></td><td>محدود</td><td>شهري</td>
</tr>
<tr>
<tr>
<td><p style="text-align:center;">5 LE</p></td><td>يوم واحد</td><td>مسبق</td>
</tr>
<tr>
<td><p style="text-align:center;">2 LE</p></td><td> لمدة 5 ساعات  </td><td>مسبق</td>
</tr>
<tr>
<td><p style="text-align:center;">25 LE</p></td><td>موبيل تصفح فقط</td><td>شهري</td>
</tr>
<td><p style="text-align:center;">+15 LE</p></td><td>اكثر من مشترك</td><td>شهري</td>
</tr>

</table>
-->
<br>
<input type="button" name="decline" value="Logout الخروج" onClick="window.location='http://logout/'">
<h1>للاطلاع على استهلاكك </h1>
<a href="http://$HS_UAMLISTEN:4990/www/status.chi"><img width="40" height="40" src="status.jpg" ><br><br>
<!--
<table border="6" table-align="left">
<tr>
<th>Your login start</th><th>Your Traffic</th><th>Your Duration</th><th> Total time</th>
</tr>
<tr>
<td>$(mysql -uroot -p38122020 radius -B -e "SELECT   username AS '= ', acctstarttime as '' FROM radacct WHERE  acctsessionid = '$COOVA_SESSIONID'") </td>
<td>$(mysql -uroot -p38122020 radius -B -e "SELECT (sum(acctinputoctets)  + SUM(acctoutputoctets))/1024/1024 AS '' FROM radacct WHERE  acctsessionid = '$COOVA_SESSIONID'") Mbits</td>
<td> $(mysql -uroot -p38122020  radius -B -e "SELECT sum(AcctSessionTime)/3600 AS '' FROM radacct WHERE  acctsessionid = '$COOVA_SESSIONID'") Hrs</td>
<td> $(mysql -uroot -p38122020  radius -B -e "SELECT sum(AcctSessionTime)/3600 AS '' FROM radacct WHERE  callingstationid = '$FORM_mac'") Hrs</td>
</tr>
</table> -->
<!-- <h2 align="center">
	<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj2" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="1" height="14">
		<param name="movie" value="Movie1.swf">
		<param name="quality" value="High">
		<embed src="eid.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj2" width="1" height="14"></object>
-->
<a href="https://sites.google.com/site/aztontrade/home"> <img src="flower.jpg" >
<br><a href="https://sites.google.com/site/aztontrade/home"> <img src="ads.jpg" >
<a href="https://sites.google.com/site/aztontrade/home"> <img src="ads.jpg" >
