
<!--
  --  The login form
  -->

<div id="login-form">
<table>
<tr>
  <td>Username</td>
  <td><INPUT NAME="username"  VALUE="$FORM_username" value="free" ></td>
</tr>
<tr>
  <td>Password</td>
  <td><INPUT NAME="password"   VALUE="$FORM_password" value="free" TYPE="password"></td>
</tr>
<tr>
  <td colspan="2" nowrap align="center">
    <input type="submit" name="button" value="Login & Accept Terms">
  </td>
</tr>
</table>
 <p>You can use the Internet, but have to login first.
  You must also agree to these $(href terms.chi "terms and conditions").</p>
</div>
