<!--
  --  The message between the header and the form on the login page
  -->
<!-- 
 -- <h1>Welcome to my HotSpot!</ih1> 
 -->
<!-- <p>You can use the Internet, but have to login first.
  You must also agree to these $(href terms.chi "terms and conditions").</p> 

 <a href="https://sites.google.com/site/aztontrade/home"> <img src="flower.jpg" > </a> -->

<br>
<br>
<!--<a href="http://$HS_UAMLISTEN/daloradius/contrib/chilli/portal2/signup-free/index.php"><img height=56 src="signup.jpg" ></a>
<a href="http://$HS_UAMLISTEN/daloradius/contrib/chilli/portal2/signup-free/index.php"><img height=56 width=56 src="signup1.jpg" ></a> -->
<input type="button" name="decline" value="للشكاوى والمقترحات Feedback" onClick="window.location='/www/contact.chi'">
<input type="button" name="decline" value="Sign-up اشتراكك الاونلين" onClick="window.location='http://$HS_UAMLISTEN/daloradius/contrib/chilli/portal2/signup-free/index.php'">

